
.productSample{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width: 85%;
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

margin:5% auto;
padding: 3%;
}
.productSample h1{
   padding-top: 2%;
}

.productSample hr{
    border-bottom: 10px solid rgb(117, 86, 94);
    width: 50%;
    border-radius: 5%;
}
.view{
    margin-right: 75%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 1%;
}
.postSample{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width: 85%;
   background: radial-gradient(circle, rgba(68,68,143,0.8911939775910365) 0%, rgba(44,44,71,0.927608543417367) 52%, rgba(14,23,25,0.8603816526610644) 100%);
    margin:5% auto;
    padding: 3%;
}
.postSample h1{
    padding-top: 2%;
    color: whitesmoke;
 }
 
 .postSample hr{
     border-bottom: 10px solid rgb(148, 235, 7);
     width: 50%;
     border-radius: 5%;
 }