@import url(https://fonts.googleapis.com/css?family=Varela+Round);
*,
*:before,
*:after {
  box-sizing: border-box;
  
}
.navlink{
  text-decoration: none;
  color: #0abde3;
}
#create{
  margin-bottom: 1%;
 border: 2px solid red;
 width: 50%;
}
.glow-on-hover {
  width: 14vw;
  height: 8vh;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 1.5%;
  margin-left: 1.8%;
 padding-top: 0.5%;
 padding-bottom: 0.5%;
  text-align: center;
  text-decoration: none;
 
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

#mainsection{
  float: none;
  
}


.cardpost {
  background: #1f2124;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 40px);
  /* 1/3 minus the margins (20+20) */
  
  padding: 20px;
  text-align: center;
  color: white;
  float: left;
  
}
.cardmainpost{
  float: none!important;
  
}
.footer{
  clear: both;
 
}
@media (max-width: 768px) {
  .cardpost {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }
  .cardpost:first-child {
    margin-top: 20px;
   
  }
}

@media (max-width: 768px) {
  .cardpost:nth-child(2) {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }
}
.cardpost .title {
  font-size: 25px;
}

.cardpost .features ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}
.cardpost .features ul li {
  margin: 10px 0;
  font-size: 14px;
}
.cardpost .features ul li span {
  border-bottom: 2px dotted #f6b352;
}
.cardpost .btnread {
  display: block;
  background: #f6b352;
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
.cardpost .btnread:hover {
  background: #f68657;
}

.impost img{
  width:100%;
  height: 60vh;
}
.impost{
  clear: both;
}

#showPostt{
  width: 50%;
  margin: 2% 25%;
}