   
#menustyle{
    background-color: #576574!important;
    position: sticky;
    top: 0;
    z-index: 100;
}

#menustyle ul>li{
    margin-right: 2%;
    margin-left: 2%;
    padding: 1%;
   
    
}
#menustyle ul>li:hover{
   background-color: #bdc3c7;
    border-radius: 12%;
    transition: all 0.5s;
}